@font-face {
    font-family: 'fontGame';
    src: url('../../../../public/fonts/AllPony.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label
{
    color: #fff;
}
body {
    background: url(../../../../public/images/bgmovie.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

.bookingMovie{
    font-family: 'fontGame';
}
.w3ls-reg {
    width: 700px;
    margin: 0 5vw;
    background: rgba(128, 128, 128, 0.34);
    padding: 3.5vw;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    color: #ff9800;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-size: 0.5em !important;
    letter-spacing: 0.2px !important;
    line-height: 1.7;
}
.mr_agilemain {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
li.smallBox {
    text-align: left;
    display: inline-block;
    margin-right: 1em;
    color: #fff;
}
.smallBox::before {
    content: "";
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 10px;
}
.greenBox::before {
    content: "";
    background: rgb(109, 238, 109);
}

.orangeBox::before {
    content: "";
    background: orange;
}

.emptyBox::before {
    content: "";
    box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0px 2px 3px 0px rgb(255, 152, 0), 0px 1px 0px 0px rgba(255, 255, 255, .8);
    background-color: #fff;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
.seats {
    border: 1px solid red;
    background: yellow;
}
input[type=checkbox] {
    width: 13px;
    margin-right: 14px;
    cursor: pointer;
    position: relative;
}
input[type=checkbox]:before {
    content: "";
    width: 25px;
    height: 18px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: 3px solid #ff9800;
    background-color: #ffffff;
    position: absolute;
    top :-2px;
    left:-2px;
}
input[type=checkbox]:checked:before {
    background-color: rgb(109, 238, 109);
    font-size: 15px;
}
input[type="text"], input[type="number"] {
    padding: 1em;
    width: 90%;
    background: rgba(0,0,0,0.5);
    border: 1px solid black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    margin-top: 10px;
    color: #fff;
}
.seatGap {
    width: 40px;
}
.confirm_btn
{
    background: #f5f5f5;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 1px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer;
}
ul.seat_w3ls {
    margin: 0.5em 0;
}
ul {
    list-style: none;
    padding: 0px;
}
td {
    width: 40px;
    font-weight: 600;
    font-size: 1em;
    padding-top: 7px;
    height: 24px;
    color: #fff;
    text-align: center;
}

.rowNumber{
    width: 45px;
    height: 30px;
    background: none;
    border:none;
    margin-left: 2%;
    font-size: 15px;
    color: yellow;
    
}
.firstChar{
    color: yellow;
    font-size: 15px;
    margin-right: 15px;

}

.screen{
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100px;
    width:90%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
}

.container
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.wthree {
    /* padding: 0.8em; */
    font-size: 0.5em;
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 7px;
    word-spacing: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: 0px auto;
    text-align: center;
}
.row_hall
{
    height: 50px;
    position: relative;
}
.row_hall .firstChar {
    position: absolute;
    top:5px;
}
.row_hall .rowSeat {
position: absolute;
left:10%;
top:0;
}
td:nth-child(6) .col_hall
{
    width: 55px;
    text-align: left;
} 
.rowNumber:nth-child(6) .col_hall
{
    padding-left: 10px;
}


